# EDA

Elegimos la base de datos de **Ventas** porque se ajusta mejor a nuestro conocimiento y experiencia previa. Mientras que las bases de audio de perros y gatos o de imágenes médicas requieren técnicas avanzadas de procesamiento de señales e imágenes, la BD de Ventas nos resulta más cercana y comprensible. Esto nos permite aplicar con mayor confianza métodos de análisis exploratorio, segmentación y modelado, generando resultados útiles y relevantes sin salirnos de nuestro campo de dominio.

## Lectura De Datos

In [1]:
import pandas as pd

# --- Rutas de los archivos ---
clientes_file = "ventas/clientes.xlsx"
productos_file = "ventas/productos.xlsx"
orders_file = "ventas/Orders.csv"

In [4]:
clientes_df = pd.read_excel(clientes_file)

In [12]:
productos_df = pd.read_excel(productos_file)

In [ ]:
orders_df = pd.read_csv(orders_file)

# Renombrar Columnas
orders_df = orders_df.rename(columns={"Number": "Order ID"})

C:\Users\ANAMARIAVALENCIAQUIN\AppData\Local\Temp\ipykernel_19296\730759445.py:1: DtypeWarning: Columns (4,6,9,20,22,23,27,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  orders_df = pd.read_csv(orders_file)

##  Revision de valores faltantes:

In [14]:
# --- Función para analizar nulos ---
def analizar_nulos(nombre, df):
    print(f"\n===== {nombre} =====")
    # Conteo de nulos
    nulos = df.isnull().sum()
    # Porcentaje de nulos
    porcentaje = (df.isnull().sum() / len(df)) * 100
    # Tabla resumen
    resumen = pd.DataFrame({
        "Nulos": nulos,
        "% Nulos": porcentaje
    })
    # Filtrar solo columnas con al menos un nulo
    resumen = resumen[resumen["Nulos"] > 0].sort_values("% Nulos", ascending=False)

    if resumen.empty:
        print("✅ No hay datos ausentes")
    else:
        print(resumen)

    return resumen

In [15]:
nulos_clientes = analizar_nulos("Clientes", clientes_df)

===== Clientes =====
                              Nulos    % Nulos
Tags                         273787  82.205728
SMS Marketing: Updated At    263089  78.993608
Address Zip                  231403  69.479749
Email Marketing: Updated At  202846  60.905387
Total Orders                 133968  40.224470
Total Spent                  133968  40.224470
Top Row                      133968  40.224470
Address Line 2               107372  32.238906
SMS Marketing: Level          89071  26.743952
SMS Marketing: Status         89071  26.743952
SMS Marketing: Source         89071  26.743952
Address Line 1                42924  12.888116
Address Phone                 40589  12.187022
Address Last Name             35497  10.658127
Address Company               35468  10.649420
Address Province Code         33815  10.153100
Address Province              33815  10.153100
Address First Name            32263   9.687105
Address City                  32143   9.651074
Address Country               23182   6.960496
Address ID                    23182   6.960496
Address Command               23182   6.960496
Address Country Code          23182   6.960496
Address Is Default            23182   6.960496
Email Marketing: Status           4   0.001201
Email Marketing: Level            4   0.001201

In [16]:
nulos_productos = analizar_nulos("Productos", productos_df)

===== Productos =====
                           Nulos    % Nulos
Body HTML                  25130  83.327807
Variant Barcode             8917  29.567611
Variant SKU                 8916  29.564295
Variant Inventory Item ID   8892  29.484714
Variant ID                  8892  29.484714
Image Height                5459  18.101333
Image Position              5459  18.101333
Image Width                 5459  18.101333
Image Src                   5459  18.101333
Type                          49   0.162478

In [17]:
nulos_orders   = analizar_nulos("Orders", orders_df)

===== Orders =====
                                     Nulos    % Nulos
User ID                            1736095  99.994298
Cancelled At                       1736086  99.993779
Cancel: Reason                     1736086  99.993779
Transaction: Error Code            1730682  99.682524
Transaction: Message               1712874  98.656832
Transaction: Payment Method        1708065  98.379847
Fulfillment: Tracking Number       1511181  87.039870
Transaction: Amount                1508910  86.909067
Transaction: Currency              1508910  86.909067
Transaction: ID                    1508910  86.909067
Transaction: Gateway               1508910  86.909067
Transaction: Status                1508910  86.909067
Transaction: Shop Currency Amount  1508910  86.909067
Transaction: Shop Currency         1508910  86.909067
Fulfillment: Shipment Status       1303192  75.060276
Fulfillment: Tracking Company      1281759  73.825794
Fulfillment: ID                    1125523  64.827030
Fulfillment: Status                1125523  64.827030
Fulfillment: Updated At            1125523  64.827030
Fulfillment: Created At            1125523  64.827030
Fulfillment: Location              1125523  64.827030
Line: Product ID                   1043272  60.089598
Line: Product Handle               1043272  60.089598
Tags                                968400  55.777177
Line: ID                            353525  20.362068
Line: Title                         227284  13.090933

Se identifican columnas al 100% de nulos, esto no aporta informacion por lo que se decide eliminar las columnas.

In [ ]:
clientes_df = clientes_df.drop(columns=["Note", "Multipass Identifier", "Send Account Activation Email"])